name: DevSecOps CI Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  security-tests:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.11'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install bandit flake8 pytest

    - name: Run Bandit (Security Scan)
      run: |
        bandit -r Gui_code -ll

    - name: Run Flake8 (Linting)
      run: |
        flake8 Gui_code --ignore=E501

    - name: Run Pytest (Unit Tests)
      run: |
        pytest || echo "No tests found"
